{% extends "website/main.html" %}
{% load static %}
{% block content %}


 <main class="main">


    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="{% static 'website/assets/img/hero-bg.jpg' %}" alt="" data-aos="fade-in">

      <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <h2>ISHA</h2>
            <p>I'm a Full Stack Developer</p>
            <a href="/about" class="btn-get-started">About Me</a>
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

  </main>
{% endblock content %}
