{% extends "website/main.html" %}
{% load static %}
{% block content %}



<!DOCTYPE html>
<html>
<head>

</head>
    <body class="project-page">
      <center>
      <h1>Projects</h1>
      <br>
      
      <img src="https://www.sketchappsources.com/resources/source-image/weather-app-icons.jpg" alt="Weather App" style="width: 10%; height:100px;">
      
      </center>
        
            <center>
          
            <a href="{% static 'website/project.html' %}">Weather App</a><br>
            <a href="https://github.com/ishanikam261/djangotutorial.git" class="btn1"><span>code</span></a>
            </center>
         


    </body>
</html>
{% endblock content %}
